<?xml version="1.0"?>
<!DOCTYPE Configuration>
<Configuration shutdownHook="disable" packages="org.ironrhino.core.log4j">
	<Properties>
		<Property name="app.home">/tmp/app</Property>
		<Property name="port.http"></Property>
		<Property name="root.logger.level">INFO</Property>
		<Property name="console.logger.level">INFO</Property>
		<Property name="hibernate.logger.level">INFO</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<ThresholdFilter level="${sys:console.logger.level}"/>
			<PatternLayout pattern="%d [%style{%15.15t}{magenta}] %style{%40.40c{1.}}{cyan} %highlight{%5.5p} %m%n" noConsoleNoAnsi="false"/>
		</Console>
		<File name="DEBUG" fileName="${sys:app.home}/logs/${sys:port.http}/application-debug.log">
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n%th{10}" charset="UTF-8"/>
		</File>
		<RollingFile name="APPLICATION" fileName="${sys:app.home}/logs/${sys:port.http}/application.log" filePattern="${sys:app.home}/logs/${sys:port.http}/application.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n%th{10}" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="ERROR" fileName="${sys:app.home}/logs/${sys:port.http}/application-error.log" filePattern="${sys:app.home}/logs/${sys:port.http}/application-error.log.%d{yyyy-MM-dd}">
			<ThresholdFilter level="ERROR"/>
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="SQL" fileName="${sys:app.home}/logs/${sys:port.http}/sql.log" filePattern="${sys:app.home}/logs/${sys:port.http}/sql.log.%d{yyyy-MM-dd}">
			<ThresholdFilter level="ALL"/>
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="REMOTING" fileName="${sys:app.home}/logs/${sys:port.http}/remoting.log" filePattern="${sys:app.home}/logs/${sys:port.http}/remoting.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d%X{request} %X{service} %X{role} %m%th{10}%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="REST" fileName="${sys:app.home}/logs/${sys:port.http}/rest.log" filePattern="${sys:app.home}/logs/${sys:port.http}/rest.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d %t%X{request} %X{method}%X{url} %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="ACCESS" fileName="${sys:app.home}/logs/${sys:port.http}/access.log" filePattern="${sys:app.home}/logs/${sys:port.http}/access.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d %X{username}@%X{remoteAddr} %X{method}%X{url}%X{userAgent}%X{referer}%X{request}%X{responseTime}%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="ACCESS-WARN" fileName="${sys:app.home}/logs/${sys:port.http}/access-warn.log" filePattern="${sys:app.home}/logs/${sys:port.http}/access-warn.log.%d{yyyy-MM-dd}">
			<ThresholdFilter level="WARN"/>
			<PatternLayout pattern="%d %X{username}@%X{remoteAddr} %X{method}%X{url}%X{userAgent}%X{referer}%X{request} %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver" level="ERROR"/>
		<Logger name="org.springframework.core.type.classreading.AnnotationAttributesReadingVisitor" level="ERROR"/>
		<Logger name="org.springframework.security" level="WARN"/>
		<Logger name="org.hibernate.tool.hbm2ddl.TableMetadata" level="WARN"/>
		<Logger name="org.hibernate.hql.internal.QueryTranslatorFactoryInitiator" level="WARN"/>
		<Logger name="org.hibernate.type.descriptor.java.JavaTypeDescriptorRegistry" level="ERROR"/>
		<Logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR"/>
		<Logger name="org.hibernate.orm.deprecation" level="ERROR"/>
		<Logger name="org.apache.struts2.components.File" level="ERROR"/>
		<Logger name="org.apache.struts2.components.ServletUrlRenderer" level="ERROR"/>
		<Logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="ERROR"/>
		<Logger name="com.opensymphony.xwork2.config.providers.XmlConfigurationProvider" level="ERROR"/>
		<Logger name="io.micrometer" level="WARN"/>
		<Logger name="org.hibernate.SQL" level="${sys:sql.logger.level}" additivity="false">
			<AppenderRef ref="SQL"/>
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${sys:sql.logger.level}" additivity="false">
			<AppenderRef ref="SQL"/>
		</Logger>
		<Logger name="org.springframework.jdbc.core" level="${sys:sql.logger.level}" additivity="false">
			<AppenderRef ref="SQL"/>
		</Logger>
		<Logger name="remoting" level="${sys:root.logger.level}" additivity="false">
			<AppenderRef ref="REMOTING"/>
		</Logger>
		<Logger name="rest" level="${sys:root.logger.level}" additivity="false">
			<AppenderRef ref="REST"/>
		</Logger>
		<Logger name="access" level="${sys:root.logger.level}" additivity="false">
			<AppenderRef ref="ACCESS"/>
		</Logger>
		<Logger name="access-warn" level="WARN" additivity="false">
			<AppenderRef ref="ACCESS-WARN"/>
		</Logger>
		<Root level="${sys:root.logger.level}">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="APPLICATION"/>
			<AppenderRef ref="ERROR"/>
		</Root>
	</Loggers>

</Configuration>
